.nb-theme-default [nbButton].appearance-outline.size-medium {
    padding: 1.6875rem 1.125rem !important;
}

button {
    color: #ffffffd6 !important;
    
   &:hover{
    transition: all 0.2s cubic-bezier(.34,1.56,.69,1.17);
    transform: scale(1.05);
    cursor: pointer;
   }
}