/* .address-column-entry{
    display: flex;
    flex-direction: row;
    width: 30%;
    border: 2px solid red;
}

 */

 /* use this to select one address, and adjust indexes etc:  */

/*  ng2-smart-table > table > tbody > tr:nth-child(1) > td:nth-child(1) {     display: flex;
    flex-direction: row;
    width: 30%;
    border: 2px solid red; }
 */