<div class="AccountCard">
    <div class="AddressAndBalance">
       <div class="AccountAddress">
          <div class="Label">ADDRESS</div>
          <div class="Value"><span>0x4beD0792c0E397515213b574aacfea051228B8c3</span></div>
       </div>
       <div class="AccountBalance">
          <div class="Label">BALANCE</div>
          <div class="Value"><span title="99.93">99.93 ETH</span></div>
       </div>
    </div>
    <div class="SecondaryInfo">
       <div class="TransactionCount">
          <div class="Label">TX COUNT</div>
          <div class="Value">22</div>
       </div>
       <div class="AccountIndex">
          <div class="Label">INDEX</div>
          <div class="Value">0</div>
       </div>
       <span class="ShowKeys popover-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" stroke-width="2">
             <g fill="none" stroke="#444" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10">
                <path d="M50 2L23.8 28.1c-5.7-1.5-12.1-.1-16.5 4.4C.6 39.2.6 50 7.3 56.7s17.5 6.7 24.2 0c4.5-4.5 5.9-10.8 4.4-16.5L42 34v-8h8v-8h8l4-4V2H50z"></path>
                <circle color="color-2" cx="15" cy="46" r="5"></circle>
             </g>
          </svg>
          <span class="popover">Show Keys</span>
       </span>
    </div>
 </div>
