//non-working theme bs:

// this is our just created themes.scss file, make sure the path to the file is correct
/* @use 'themes' as *; */

// framework component styles
/* @use '@nebular/theme/styles/globals' as *;

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
}
 */
// workaround for agnular sometimes not applying styles
 @use '../src/app/components/account-balance-list/account-balance-list.component.style.scss';
 @use '../src/app/components/existing-projects-list/existing-projects-list.component-extra.scss';
 @use './styles-ganache.css';

/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff3d71;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #ff3d71 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

// style the column header
a.ng2-smart-sort-link{
  color: #ff3d71 !important
}

@font-face{
  font-family:"Audimat-regular";
  font-weight:600;
  font-style:bold;
  src:url('./fonts/audimat/AUDIMSC_.TTF') format("truetype")
  }

.hackerfont {
    font-family: Monospace, sans-serif; 
    font-weight: bolder; 
  }

  .audimatRegular{
    font-family: "Audimat-regular"
  }
  
  .address-column{
   
  }